:root {
    --background-color: rgb(31, 28, 28);
}

body {
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('/home/erik-the-red/repos/op-restaurant-page/src/img/pexels-narda-yescas-1566837.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    padding: 30px 30px 5px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--background-color);
}

.content {
    width: 100vw;
}

.nav-div {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.nav-menu-button {
    font-size: 1.5rem;
}

.footer {
    margin: auto 0 0 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
}